body{
    box-sizing: border-box;
    font-family: 'Yrsa', serif;
    display: flex;
}

#main-doc{
    order: 2;
    padding: 5vh 5vw;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}
.main-section{
    border: 1px black dotted;
    /* transition: visibility 1s ease; */
    
}

#navbar{
    order: 1;
   background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    min-height: 100vh;
    min-width: 12vw;
    font-size: 1.4em;
    white-space: nowrap;


}

.nav-link{

margin-top: 1.8vh;
}

.hide {
    /* position: absolute !important;
    top: -9999px !important;
    left: -9999px !important; */
    display: none;
 }