html{
font-size: 1em;
}

body{
    box-sizing: border-box;
    font-family: 'Yrsa', serif;
    display: flex;
}

code {
    font-size: 1.0rem;
}

.codeBlock{
    /* background: #f2f2f2; */
    max-width: 30vw;
    margin: 0vh 0vw 0vh 2vw;
    padding: 1vh 1vw;
}
#main-doc{
    order: 2;
    padding: 5vh 5vw;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 1.1rem;
}
/* #main-content-container{
    font-size: 1.1em;
} */

.main-section > header {
    font-size: 1.4rem;
}

#navbar{
    order: 1;
   background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    min-height: 100vh;
    min-width: 12vw;
    font-size: 1.4rem;
    white-space: nowrap;
}

.nav-link{

margin-top: 1.8vh;
}

.hide {
    /* position: absolute !important;
    top: -9999px !important;
    left: -9999px !important; */
    display: none;
 }